### CE 103- INTRODUCTION TO COMPUTERS and PROGRAMMING

### _The topics of the week !_

- PANDAS
    - Data Structures in Pandas
    - Data Manipulation
    - Import/Export Data 
    - Time Series Analysis
    - Visualization

Pandas (derived from the term "Panel Dara") stands for “Python Data Analysis Library”, which is most preferred and widely used library of Python. Its very helpful tool especially for Data Scientists and Analysts, and its built on top of the NumPy package just as SciPy does.

In [ ]:
import pandas as pd
import numpy as np

---
# DATA STRUCTURES

> ## 1. Series(1D)

A one-dimensional labeledarray which can be in integer, string, python object etc. format. The axis labels are referred as index.

> s = pd.Series(data, index = index)

In [ ]:
greetings = pd.Series([1, 2, 3], index = ['Good Morning','Good Afternoon','Good Evening'])
print(greetings)

In [ ]:
mixed = np.array([3,5,7,9,11,13,15])
s = pd.Series(mixed)        # create a pandas series by using Numpy Array
s

In [ ]:
s.itemsize    # number of bytes allocated to each item

In [ ]:
greetings.shape  # gets shape of the series

In [ ]:
greetings.count()

In [ ]:
greetings.values

In [ ]:
greetings.index

In [ ]:
# create series from list with missing data

s1 = pd.Series([1,3,5,np.nan,9], index = ['a','b','c','d','e'])   
s1

In [ ]:
# create series with random and range fucntions

rows = np.random.rand(15)
columns = np.arange(0,15)
s = pd.Series(rows, columns)
rows, columns

In [ ]:
s

In [ ]:
# slicing values from series
s[:]
s[0:5]
s[-3:-1]

In [ ]:
# create series from dictionary

dictionary ={ "LectureCodes" : ["GTU_CE103","GTU_CE105","GTU_CE247"],  # create a dictionary to convert json object
              "Avg_StudentPerLecture" : 75, 
              "NumberOfClass" : 12 
            }
s2 = pd.Series(dictionary)
s2

In [ ]:
# append series

s3 = s2.append(s)
s3

In [ ]:
# delete item from series

s3.drop('NumberOfClass', inplace = True)
s3

In [ ]:
# delete item from series

s3.drop(7, inplace = True)
s3

In [ ]:
# operations with series

a, b = np.array([3,5,7,9]),np.array([2,4,6,8])
s1 = pd.Series(a) 
s2 = pd.Series(b)
s1 , s2

In [ ]:
s1.add(s2) # add series to each other
s1.add(10) # add fix number to all values in the series
s1.mul(s2) # multiply two series with each other
s1.div(s2) # division of series

In [ ]:
s1.max()
s2.mean()
s1.median()

> ## 2. Dataframe (2D)

It is a 2-dimensional labeled data structure with different types of columns. Dataframe is main object in pandas which used to represent data with rows and columns such as excel spreadsheets.

In [ ]:
# create a dataframe 

df = pd.DataFrame()
df

In [ ]:
# create a dataframe using list

consump_df = pd.DataFrame(['monday','wednesday','friday', 'sunday']) 
consump_df

In [ ]:
# add columns to an existing dataframe

shop_lst = ['milk','bread','egg','newspaper']
consump_df[1] = shop_lst
consump_df[2] = [3, 2, 4, 8] 
consump_df

In [ ]:
# Assign header information to each column

consump_df.columns = ['Service Days', 'Cart List', 'Cost in $']
consump_df

In [ ]:
# call data with columns or raws

consump_df.columns
consump_df.index

In [ ]:
consump_df['Service Days']

In [ ]:
# create a new column by assigning a column that does not exist

consump_df['Customer Name'] = ['Aylin','Hasan','Murat','Selin']
consump_df

In [ ]:
# delete column from dataframe

del consump_df['Cart List']
consump_df

In [ ]:
# colomn to raw switch

consump_df.T

In [ ]:
# Data selection in dataframe usinf row label

consump_df.loc[2]

> ## 3. Indexing

Indexing refers to select specifin rows and columns of data from a dataframe. It can handle different combination of row-column selection.

In [ ]:
shift_df = pd.DataFrame(np.random.randn(5, 4), index=None, columns=['Site A', 'Site B', 'Site C', 'Site D'])
shift_df

In [ ]:
# multi-index level

s = pd.Series(np.random.rand(3), index = [['a','b','c'],[3,5,8]])
s.index.names = ['name','number']
s

In [ ]:
s['a']  # select a row

In [ ]:
df5 = pd.DataFrame(np.random.randn(6, 4), index=list('abcdef'), columns=list('ABCD'))
df5

In [ ]:
df5.loc['e':, 'C':'D']  # select specific rows and columns

---
# NaN vs Null 

NaN or None are not number, they meen missing/not available data. In databases _**pd.notnull()**_ or _**df.isnull()**_ are very usefull to detect missing data.

In [ ]:
s = pd.Series([1,3,5,np.nan,9],[np.nan,np.NaN,8,9,10])
s

In [ ]:
s.isnull()

In [ ]:
s.dropna()

In [ ]:
s.fillna(33)

In [ ]:
s.fillna('hello')

---
# IMPORT DATA

In [ ]:
# read csv file from storage

df_tuik = pd.read_csv('Data_Input/tuik.csv', sep = '|')  # read csc file with delimiter "|"
df_tuik

In [ ]:
df_tuik = df_tuik.rename(columns = {'Unnamed: 2':'YEAR'}) # change the column name

In [ ]:
df_tuik.loc[df_tuik['YEAR'] == 2011]  # indexing rows and columns

In [ ]:
df_tuik_new = df_tuik.loc[(df_tuik['YEAR'] >= 2000) & (df_tuik['YEAR'] <= 2020)] # indexing
df_tuik_new

In [ ]:
data_df = df_tuik_new.dropna(axis='columns')  # delete columns with NaN values
data_df

In [ ]:
data_df.dtypes

In [ ]:
data_df.to_csv('Data_Input/tuik_new.csv')  # write data_df to a new csv file

 In order to write a data frame to an excel file you should import _**"ExcelWriter"**_ module, which you may need to install by using pip command.

> pip install XlsxWriter

In [ ]:
# lets write to excel file

writer = pd.ExcelWriter('Data_Input/tuik.xlsx', engine='xlsxwriter')
data_df.to_excel(writer, 'tuik_sheet')
writer.save()

In [ ]:
# read from excel file

xl = pd.ExcelFile('Data_Input/tuik.xlsx')       # load spreadsheet
df1 = xl.parse('tuik_sheet')                    # assign sheet to the dataframe
df1

 Append new sheet to an existing excel file, we need to import (or even install) _**"openpyxl"**_ module because _**"xlswriter"**_ does not support append mode

In [ ]:
# pip install --user openpyxl
import openpyxl

df2 = pd.DataFrame({'Percentage': np.random.rand(20)})   # define a new dataframe

with pd.ExcelWriter('Data_Input/tuik.xlsx', engine = 'openpyxl', mode = 'a') as f:
    df2.to_excel(f)

---
# DATA MANIPULATION

In [ ]:
sales_df = pd.read_excel('Data_Input/sales.xlsx')
sales_df.head()

In [ ]:
sales_df.tail()

In [ ]:
sales_df.describe()

In [ ]:
sales_df.count()

In [ ]:
filt_df = sales_df.drop('Row ID', axis = 1)
filt_df

In [ ]:
sales_df.sort_values(by=['Sales'], ascending=False)

In [ ]:
sales_df.drop_duplicates('City')

In [ ]:
sales_df.sort_values(by=['Ship Date'], ascending=True)

---
# TIME SERIES ANALYSIS

Python library data types for date and time is 'datetime','time', 'calendar'; for Pandas its 'Timestamp'

In [ ]:
from datetime import datetime
from matplotlib import dates

In [ ]:
now = datetime.now()
now

In [ ]:
pd.date_range('20200310', periods=60)

In [ ]:
# convert string to datetime
datetime.strptime('11/28/2005','%m/%d/%Y')

In [ ]:
date_str = "10 march, 2020"
datetime.strptime(date_str, "%d %B, %Y")

In [ ]:
print('Type :- ',type(now))

In [ ]:
now = datetime.now()
print('Hour: ', now.hour)
print('Minute: ', now.minute)

In [ ]:
now.weekday()  # gets the day of the week

In [ ]:
# dealing with time zone

from datetime import timezone

In [ ]:
# UTC(Coordinated Universal Time) integer representing nanoseconds elapsed since midnight Thursday, January 1, 1970

loc_time = datetime.utcnow()   
loc_time

In [ ]:
ce103_final = datetime.utcfromtimestamp(1591943043)   # defines nanoseconds from UTC to Final Exam date
ce103_final

In [ ]:
import calendar  # is also a helpful module to define date operations

In [ ]:
calendar.day_name[ce103_final.weekday()]  # find the weekday of given timestamp

In [ ]:
# Timespan and Time difference settlement

from datetime import timedelta

In [ ]:
# get difference between two datetime objects

from datetime import timedelta

time_df = datetime(2020, 3, 10) + timedelta(60)  # adds 60 days to start time

In [ ]:
timedelta(days = 130, hours = 21, minutes = 43) # gives day, seconds

In [ ]:
# DateTime objects in Pandas

pd.to_datetime("26th of march, 2020")

In [ ]:
pd.Timestamp(datetime(2020, 3, 26))

In [ ]:
pd.Timestamp('2005-11-28')

In [ ]:
pd.Timestamp(2012, 5, 1)

In [ ]:
pd.Period('2011-01')

In [ ]:
pd.Period('2012-05', freq='D')  # sets the frequency as Day

In [ ]:
# set series with random dates

pd.date_range('2005-10-18 20:02:55', periods=5, freq='D')

In [ ]:
[datetime(2012, 5, 1), datetime(2012, 5, 2), datetime(2012, 5, 3)]

In [ ]:
pd.to_datetime([2, 4, 30], unit='D')

In [ ]:
pd.to_datetime([10, 20, 30], unit='D', origin=pd.Timestamp('1900-01-01'))

In [ ]:
pd.to_datetime([2903847.3, 38942081, 190283749.9828374], unit='s')  # unit "s" refers to seconds

In [ ]:
pd.to_datetime([2903847.3, 38942081, 190283749.9828374], unit='ns')

In [ ]:
start = datetime(2020, 3, 10)
end = datetime.now()
pd.date_range(start, end) # default frequency for date_range is a calendar day

In [ ]:
pd.bdate_range(start, end, freq='B')  # the default for bdate_range is a business day

#### _**Timestamp Limitations**_

In [ ]:
pd.Timestamp.min

In [ ]:
pd.Timestamp.max

---
# VISUALIZATION

In [ ]:
shipping_df = sales_df.drop_duplicates('Ship Date')
shipping_df.columns

In [ ]:
import matplotlib.pyplot as plt
shipping_df['Quantity'].hist(bins=10)
plt.xlabel('Quantity')
plt.ylabel('Number of Data')
labels = ["Quantity"]
plt.legend(labels)
plt.show()

In [ ]:
fig = plt.figure(figsize=(20, 8))
df_x = shipping_df['Ship Date'].tolist()
df_y = shipping_df['Sales'].tolist()
plt.bar(df_x,df_y, width=5, color='orange')

In [ ]:
# lets define time random series with date index

ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))

In [ ]:
# lets define a random time series and visualize it

lockdown_df = pd.DataFrame(np.random.randn(1000,1)*np.sin(30), columns=['BrainCell'], index=pd.date_range('2020-03-10', periods = 1000, freq='T'))
df = lockdown_df.cumsum()
df

In [ ]:
fig = plt.figure( figsize=(15, 8) )
plt.plot(df)

---
## Homework #10

Please follow the instructions below. 

1 - Visit the following web page and import dataset in excel format. https://data.ibb.gov.tr/dataset/ulasim-yonetim-merkezi-uym-tarafindan-sisteme-girilen-trafik-duyurulari/resource/02bfe245-5e5a-472b-b0a4-323d1bae8131

![](./Figures/homework10.png)

2 - Read the columns from the excel file ("UYM Duyurular" Sheet), classify them belongs to "Duyuru Tipi" column and draw histogram plot.

3 - Create new sheet in the same excel file named as "output" and write "Duyuru ID", "Duyuru Tipi", "Müdahale Tarihi" and "Koordinatlar" (seperate into two columns as "Enlem" and "Boylam") for only values labeled as "Kaza Bildirimi". Read these columns and plot a figure for Time vs Kaza Bildirimi.  

4 - Compute the time differernce between "Giriş Tarihi" and "Müdahale Tarihi" and calculate average time of intervene time per event. 


*** Be carefull about "NaN or Null values" in your data, they may disrupt your calculations.

PS : Do not forget to upload your answer sheets to CE_103 Class on MS Teams.